@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: "Next-Art";
  src: url("../../resources/fonts/NEXT ART_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: var(--font-size);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: var(--lign-height);
  color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h3 {
  font-weight: 700;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

:root {
  --color-dark: #18121E;
  --color-light: #FDFDFD;
  --color-accent: #F2BE22;
  --color-gray: #F3F5F4;
  --color-green: #1A3E3E;
  --font-family-base: "Nunito Sans", sans-serif;
  --line-height: 1.5;
  --font-size: 18px;
  --border: 1px solid var(--color-light);
  --border-radius-s: 4px;
  --border-radius-m: 6px;
  --border-radius-l: 10px;
  --border-radius-xl: 24px;
  --border-radius-2xl: 32px;
  --border-radius-3xl: 50px;
  --shadow: rgba(24, 18, 30, 0.12);
  --container-width: 1180px;
  --container-padding-x: 16px;
  --section-padding-y-s: 80px;
  --section-padding-y-m: 100px;
  --button-height: 52px;
  --pudding-inline-btn: 36px;
  --transition-duration: 0.2s;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  height: var(--button-height);
  padding-inline: 24px;
  border-radius: var(--border-radius-s);
  color: var(--color-light);
  background-color: var(--color-green);
  max-width: 200px;
}
@media (max-width: 1023px) {
  .button {
    font-size: 16px;
    padding-inline: 24px;
    --button-height: 44px;
  }
}
@media (max-width: 767px) {
  .button {
    align-self: center;
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}
.button-light {
  background-color: var(--color-light);
  color: var(--color-dark);
  width: 100%;
}
@media (max-width: 1023px) {
  .button-light {
    max-width: 300px;
  }
}
.button-center {
  margin: 0 auto;
}

.input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: inherit;
  width: 100%;
  padding-inline: 16px;
  font-weight: 700;
  height: 52px;
  border: var(--border);
  border-radius: 8px;
  background-color: transparent;
}
@media (max-width: 1023px) {
  .input {
    padding-inline: 10px;
    height: 43px;
  }
}
.input::placeholder {
  color: var(--color-light);
  font-size: 16px;
}
@media (max-width: 1023px) {
  .input::placeholder {
    font-size: 14px;
  }
}
.input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
@media (hover: hover) {
  .input:hover {
    border-color: var(--color-accent);
    opacity: 0.9;
  }
}
@media (hover: none) {
  .input:active {
    border-color: var(--color-accent);
    opacity: 0.9;
  }
}

label + input {
  font-size: 14px;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}

.section {
  padding-top: var(--section-padding-y-s);
  padding-bottom: var(--section-padding-y-m);
}
@media (max-width: 767px) {
  .section {
    --section-padding-y-s: 50px;
    --section-padding-y-m: 50px;
  }
}

.section__header {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 580px;
}
@media (max-width: 1023px) {
  .section__header {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .section__header {
    max-width: 358px;
  }
}
.section__header-text {
  font-size: 24px;
  color: var(--color-accent);
}
@media (max-width: 1023px) {
  .section__header-text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .section__header-text {
    font-size: 16px;
  }
}
.section__header-title {
  font-weight: 800;
  font-size: 32px;
}
@media (max-width: 1023px) {
  .section__header-title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .section__header-title {
    font-size: 24px;
  }
}
.section__header-text-center {
  text-align: center;
}
@media (max-width: 480px) {
  .section__header-text-center {
    text-align: left;
  }
}

.header__center {
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .header__center {
    justify-content: start;
  }
}

.section-top {
  background-image: url("/resources/images/photo-top-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-light);
}

.header {
  padding-top: 16px;
  font-weight: 600;
}
@media (max-width: 1280px) {
  .header {
    font-size: 14px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 49px;
}
@media (max-width: 1280px) {
  .header__inner {
    column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 84px;
    height: 44px;
  }
}
.header__menu {
  margin-left: auto;
}
@media (max-width: 1023px) {
  .header__menu {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    column-gap: 20px;
  }
}
.header__menu-link {
  height: 48px;
  display: inline-flex;
  align-items: center;
  position: relative;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  transition-duration: inherit;
}

.section-rumtibet {
  padding-top: 340px;
  padding-bottom: 90px;
}
@media (max-width: 1023px) {
  .section-rumtibet {
    padding-top: 260px;
    padding-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .section-rumtibet {
    padding-top: 234;
    padding-bottom: 50px;
  }
}

.rumtibet {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 480px) {
  .rumtibet {
    row-gap: 20px;
  }
}
.rumtibet__title {
  font-size: 50px;
  max-width: 1080px;
  font-family: "Next-Art";
  line-height: 150%;
}
@media (max-width: 1280px) {
  .rumtibet__title {
    max-width: 800px;
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .rumtibet__title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .rumtibet__title {
    font-size: 28px;
  }
}
@media (max-width: 350px) {
  .rumtibet__title {
    font-size: 22px;
  }
}
.rumtibet__location {
  padding: 40px 42px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border-radius: var(--border-radius-l);
}
@media (max-width: 1023px) {
  .rumtibet__location {
    padding: 25px 5px;
  }
}
@media (max-width: 767px) {
  .rumtibet__location {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .rumtibet__location {
    padding: 10px;
  }
}
.rumtibet__form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 24px;
}
@media (max-width: 1023px) {
  .rumtibet__form {
    justify-content: space-evenly;
    row-gap: 25px;
    flex-wrap: wrap;
  }
}
@media (max-width: 900px) {
  .rumtibet__form {
    justify-content: space-evenly;
  }
}
@media (max-width: 480px) {
  .rumtibet__form {
    row-gap: 15px;
  }
}
.rumtibet__item {
  font-size: 14px;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 8px;
  width: 100%;
  max-width: 270px;
  position: relative;
}
@media (max-width: 1023px) {
  .rumtibet__item {
    row-gap: 5px;
  }
}
@media (max-width: 900px) {
  .rumtibet__item {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .rumtibet__item {
    max-width: 100%;
  }
}
.rumtibet__item:last-child {
  max-width: 213px;
}
@media (max-width: 1023px) {
  .rumtibet__item:last-child {
    max-width: 300px;
    margin-inline: auto;
  }
}
@media (max-width: 900px) {
  .rumtibet__item:last-child {
    margin-inline: 0;
  }
}
@media (max-width: 480px) {
  .rumtibet__item:last-child {
    max-width: 152px;
  }
}
.rumtibet__item:nth-child(2n+1)::after {
  content: "";
  background-image: url("../../../resources/images/icons/Vector-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 8px;
  top: 22px;
  right: 18px;
}
.rumtibet__item:nth-child(2)::after {
  content: "";
  background-image: url("../../../resources/images/icons/Vector-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 16px;
  right: 18px;
}

.info {
  display: flex;
  column-gap: 120px;
}
@media (max-width: 767px) {
  .info {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 40px;
  }
}
@media (max-width: 1280px) {
  .info {
    column-gap: 20px;
  }
}
.info__head {
  display: flex;
  position: relative;
  padding-right: 120px;
  padding-bottom: 126px;
}
@media (max-width: 1280px) {
  .info__head {
    max-width: 480px;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .info__head {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media (max-width: 1280px) {
  .info__img {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.info__iframe {
  border-radius: var(--border-radius-xl);
  position: absolute;
  top: 126px;
  left: 130px;
  width: 100%;
  max-width: 350px;
}
@media (max-width: 1280px) {
  .info__iframe {
    position: static;
    max-height: 350px;
  }
}
@media (max-width: 1023px) {
  .info__iframe {
    max-height: 300px;
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .info__iframe {
    max-height: 416px;
    max-width: 100%;
  }
}
.info__body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 580px;
}
@media (max-width: 1023px) {
  .info__body {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .info__body {
    max-width: 580px;
    row-gap: 32px;
  }
}
.info__main {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 767px) {
  .info__main {
    row-gap: 24px;
  }
}

.info {
  display: flex;
  column-gap: 120px;
}
@media (max-width: 767px) {
  .info {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 40px;
  }
}
@media (max-width: 1280px) {
  .info {
    column-gap: 20px;
  }
}
.info__head {
  display: flex;
  position: relative;
  padding-right: 120px;
  padding-bottom: 126px;
}
@media (max-width: 1280px) {
  .info__head {
    max-width: 480px;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .info__head {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media (max-width: 1280px) {
  .info__img {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.info__iframe {
  border-radius: var(--border-radius-xl);
  position: absolute;
  top: 126px;
  left: 130px;
  width: 100%;
  max-width: 350px;
}
@media (max-width: 1280px) {
  .info__iframe {
    position: static;
    max-height: 350px;
  }
}
@media (max-width: 1023px) {
  .info__iframe {
    max-height: 300px;
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .info__iframe {
    max-height: 416px;
    max-width: 100%;
  }
}
.info__body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 580px;
}
@media (max-width: 1023px) {
  .info__body {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .info__body {
    max-width: 580px;
    row-gap: 32px;
  }
}
.info__main {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 767px) {
  .info__main {
    row-gap: 24px;
  }
}

.section__project {
  background-color: var(--color-gray);
}

.project {
  --rowGap: 40px;
  display: flex;
  column-gap: 90px;
}
@media (max-width: 1280px) {
  .project {
    --rowGap: 32px;
  }
}
@media (max-width: 767px) {
  .project {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 480px) {
  .project {
    flex-direction: column;
    row-gap: 0;
  }
}
.project__head {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGap);
}
@media (max-width: 1023px) {
  .project__head {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .project__head {
    max-width: 580px;
  }
}
.project__list {
  display: flex;
  flex-direction: column;
  row-gap: var(--rowGap);
}
.project__item {
  display: flex;
  column-gap: 16px;
}
.project__description {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.project__title {
  font-size: 18px;
}
.project__text {
  font-size: 14px;
}
.project__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .project__body-img {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}

.m-0 {
  margin-bottom: 0;
}

.section__blog {
  background-color: var(--color-gray);
  overflow-x: hidden;
}

.blog {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  justify-content: center;
}
@media (max-width: 480px) {
  .blog {
    row-gap: 32px;
  }
}
.blog__list {
  gap: 20px;
}
@media (max-width: 480px) {
  .blog__list {
    --gridColumns: 4;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
  }
}
@media (max-width: 1023px) {
  .blog__item {
    justify-self: center;
  }
}
@media (max-width: 480px) {
  .blog__item {
    scroll-snap-align: start;
  }
}
@media (max-width: 480px) {
  .blog__item:last-child {
    margin-right: 32px;
  }
}
.blog__card {
  padding: 16px;
  display: flex;
  column-gap: 24px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-l);
}
@media (max-width: 1023px) {
  .blog__card {
    flex-direction: column;
    max-width: 380px;
  }
}
@media (max-width: 1023px) {
  .blog__card-img {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .blog__card-img > .image {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .blog__card-img > .image {
    max-width: 285px;
    max-height: 280px;
  }
}
@media (max-width: 767px) {
  .blog__card {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .blog__card {
    min-width: 285px;
  }
}
.blog__card-main {
  padding: 16px 0;
  max-width: 294px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .blog__card-main {
    max-width: 230px;
  }
}
@media (max-width: 1023px) {
  .blog__card-main {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .blog__card-main {
    padding-inline: 16px;
  }
}
@media (max-width: 480px) {
  .blog__card-main {
    max-width: 285px;
  }
}
@media (max-width: 767px) {
  .blog__card-title {
    font-size: 20px;
  }
}
.blog__card-title:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
@media (max-width: 767px) {
  .blog__card-description {
    font-size: 14px;
  }
}
.blog__card-text {
  display: flex;
  justify-content: space-between;
}
.blog__card-text > span:not(:last-child) {
  color: var(--color-accent);
}
@media (max-width: 767px) {
  .blog__card-text {
    font-size: 14px;
  }
}

.section__photo {
  overflow-x: hidden;
}

.photo {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
@media (max-width: 480px) {
  .photo {
    row-gap: 32px;
  }
}
@media (max-width: 480px) {
  .photo {
    column-gap: 32px;
  }
}
.photo__list {
  gap: 20px;
  grid-auto-flow: dense;
}
@media (max-width: 1023px) {
  .photo__list {
    --gridColumns: 3;
  }
}
@media (max-width: 767px) {
  .photo__list {
    --gridColumns: 2;
  }
}
@media (max-width: 480px) {
  .photo__list {
    --gridColumns: 6;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
  }
}
.photo__list > :first-child {
  grid-column-start: span 2;
}
@media (max-width: 480px) {
  .photo__list > :first-child {
    grid-column-start: span 1;
  }
}
@media (max-width: 1023px) {
  .photo__list > :nth-child(4) {
    grid-column-start: span 2;
  }
}
@media (max-width: 767px) {
  .photo__list > :nth-child(4) {
    grid-column-start: span 1;
  }
}
.photo__list > :nth-child(5) {
  grid-column-start: span 2;
}
@media (max-width: 767px) {
  .photo__list > :nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 480px) {
  .photo__list > :nth-child(5) {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}
@media (max-width: 480px) {
  .photo__list > :last-child {
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .photo__item {
    scroll-snap-align: start;
    min-width: 280px;
  }
}
.photo__item img {
  width: 100%;
}
.photo > :last-child {
  margin: 0 auto;
}
.photo__img {
  border-radius: 6px;
  transition: 0.5s;
}
.photo__card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (hover: hover) {
  .photo__card:hover .photo__img {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .photo__card:active .photo__img {
    transform: scale(1.1);
  }
}
.photo__overlay {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(26, 62, 62, 0.3);
  transition: 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
@media (hover: hover) {
  .photo__card:hover .photo__overlay {
    height: 100%;
  }
}
@media (hover: none) {
  .photo__card:active .photo__overlay {
    height: 100%;
  }
}

.section-p-0 {
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  .section-p-0 {
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .section-form {
    padding-bottom: 50px;
  }
}

.footer__body {
  position: relative;
  top: 100px;
  z-index: 100;
  padding: 50px 100px;
  display: flex;
  column-gap: 64px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(24, 18, 30, 0.12);
  background-color: var(--color-light);
}
@media (max-width: 1023px) {
  .footer__body {
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .footer__body {
    flex-direction: column;
    row-gap: 18px;
    position: static;
  }
}
.footer__body > header {
  max-width: 380px;
}
.footer__body > header > div {
  font-size: 18px;
}
@media (max-width: 767px) {
  .footer__body > header > div {
    font-size: 16px;
  }
}
.footer__body > header > h2 {
  font-size: 26px;
}
@media (max-width: 767px) {
  .footer__body > header > h2 {
    font-size: 24px;
  }
}
.footer__body-form {
  display: flex;
  column-gap: 16px;
  align-items: end;
}
@media (max-width: 1280px) {
  .footer__body-form {
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
  }
}
.footer__body-form__vert {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  max-width: 280px;
}
@media (max-width: 1280px) {
  .footer__body-form__vert {
    max-width: 100%;
  }
}
.footer__body-form__vert > label {
  font-size: 16px;
}
.footer__body-input {
  background-color: rgb(243, 245, 244);
  border: none;
  border-radius: 4px;
  height: 44px;
  padding: 16px;
  width: 100%;
}
.footer__body-input::placeholder {
  color: black;
}
.footer__body-btn {
  width: 100%;
  max-width: 240px;
  white-space: nowrap;
  height: 44px;
}
@media (max-width: 1280px) {
  .footer__body-btn {
    align-self: end;
  }
}
@media (max-width: 1023px) {
  .footer__body-btn {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .footer__body-btn {
    max-width: 240px;
    align-self: start;
  }
}
.footer__body-text {
  margin-top: 8px;
  max-width: 536px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer__body-text {
    margin-top: 24px;
  }
}
@media (max-width: 480px) {
  .footer__body-text {
    max-width: 310px;
  }
}
.footer__body-text > a {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.section-footer {
  background-color: var(--color-green);
  color: white;
  font-size: 14px;
}

.footer {
  padding: 178px 0 277px;
  color: white;
  font-size: 14px;
  display: flex;
  column-gap: 44px;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .footer {
    flex-direction: column;
    row-gap: 35px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 50px;
  }
}
.footer__title {
  font-size: 20px;
}
.footer__compani {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
@media (max-width: 1280px) {
  .footer__compani {
    max-width: 334px;
  }
}
@media (max-width: 1023px) {
  .footer__compani {
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .footer__compani {
    max-width: 334px;
  }
}
.footer__nav {
  display: flex;
  column-gap: 120px;
}
@media (max-width: 1280px) {
  .footer__nav {
    column-gap: 44px;
  }
}
@media (max-width: 1023px) {
  .footer__nav {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    row-gap: 35px;
  }
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 280px;
}
.footer__nav-new {
  font-size: 12px;
  padding: 2px 10px;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin-left: 8px;
}
.footer__nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-accent);
}

.popular {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 767px) {
  .popular {
    row-gap: 32px;
  }
}
.popular__list {
  display: flex;
  column-gap: 20px;
}
@media (max-width: 1023px) {
  .popular__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media (hover: hover) {
  .popular__item:hover .popular__overlay {
    top: 0;
  }
}
@media (hover: none) {
  .popular__item:active .popular__overlay {
    top: 0;
  }
}
.popular__card {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  border-radius: 32px;
}
@media (max-width: 480px) {
  .popular__card {
    max-height: 430px;
  }
}
.popular__card__img {
  border-radius: 32px;
  height: auto;
}
.popular__card-zvezda {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  background-color: rgba(253, 253, 253, 0.4);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.popular__overlay {
  position: absolute;
  top: 80%;
  left: 0;
  transition: all 1s ease-in-out;
  padding: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 38px;
  backdrop-filter: blur(6px);
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}
@media (max-width: 480px) {
  .popular__overlay {
    padding: 20px;
  }
}
.popular__overlay-header {
  display: flex;
  column-gap: 35px;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .popular__overlay-header {
    column-gap: 20px;
  }
}
.popular__overlay-text {
  font-size: 14px;
}
.popular__overlay-text-s {
  font-size: 16px;
}
.popular__overlay-title {
  font-size: 24px;
}
@media (max-width: 1280px) {
  .popular__overlay-title {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .popular__overlay-title {
    font-size: 18px;
  }
}
.popular__overlay-prise {
  font-weight: 700;
  font-size: 20px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  max-height: 40px;
}
@media (max-width: 480px) {
  .popular__overlay-prise {
    font-size: 16px;
  }
}
.popular .button {
  margin: 0 auto;
}
